
html, body {
    margin: 0;
    height: 100%;
}
#buffer{
    padding: 100px;
}
.jumbotron{
    text-align: center;
    margin-right: 20%;
    margin-left: 20%;
    background-color: azure
}
body{
    background-image: url("../../images/1530106563933.jpg");
    background-position: center;
    background-repeat: no-repeat;
}
#projectButton{
    background-image:linear-gradient(#95bea7,#092720);
    border-color: #092720
}
.navbar-custom {
    background-color: azure !important;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}